<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="../stylesheets/style.css">
    <title>Список</title>
</head>
<body>

    <div class="container" id="single-list-block">
        <div class="mt-3"></div>
        <a href="/" class="btn btn-outline-info mt-3 offset-md-3">
            <svg fill='#17a2b8' baseProfile="tiny" height="24px" id="Layer_1" version="1.2" viewBox="0 0 24 24" width="24px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><path d="M12,9.059V6.5c0-0.256-0.098-0.512-0.293-0.708C11.512,5.597,11.256,5.5,11,5.5s-0.512,0.097-0.707,0.292L4,12l6.293,6.207  C10.488,18.402,10.744,18.5,11,18.5s0.512-0.098,0.707-0.293S12,17.755,12,17.5v-2.489c2.75,0.068,5.755,0.566,8,3.989v-1  C20,13.367,16.5,9.557,12,9.059z"/></svg>
        </a>
        <div class="col-md-4 offset-md-4 mt-5">
            <div class="list">
                <div class="list-body">
                    <h5 class="list-title mb-4 text-center"><%= toDos.title %></h5>
                    <% for ({task, dataCount, checkedStatus} of toDos.lists) { %>
                        <div class="row list-container">
                            <p class="list-text col-11"><%= task %></p>
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" data-count="<%= dataCount %>" id="gridCheck">
                            </div>
                        </div>
                    <% } %>
                    <div class="d-flex justify-content-between">
                        <button type="button" class="btn btn-outline-warning edit-button mt-3" data-edit="<%= toDos.id %>">Редактировать</button>
                        <button type="button" class="btn btn-outline-danger delete-button mt-3" data-delete="<%= toDos.id %>">Удалить</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="row justify-content-center" id="edit-block">
            <div class="col-md-6 mt-4">
                <form id="edit-list">
                    <div class="form-group">
                        <input type="text" name="title" class="form-control title" value="<%= toDos.title%>" required>
                        <input type="hidden" name="id" class="form-control">
                    </div>
                    <% for ({task, dataCount, checkedStatus} of toDos.lists) { %>
                        <div id="edit-form">
                            <div class="form-group">
                                <div class="row">
                                    <input class="form-control form-control-sm col-10 ml15 input" type="text" name="task" value="<%= task%>" data-count="<%= dataCount%>" required>
                                    <button type="button" class="btn btn-light col-1 delete-input">-</button>
                                </div>
                            </div>
                        <% } %>
                            <div class="text-left mb-3 after-input">
                                <button type="button" class="btn btn-light new-input-for-edit">+</button>
                            </div>
                            <input type="hidden" name="id" class="form-control">
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-outline-info change-btn">Сохранить изменения</button>
                        </div>
                </form>
            </div>
        </div>

    </div>


<script src="/javascripts/script.js"></script>
</body>
</html>